apiVersion: v2
name: k8s-job-wrapper
description: A Helm chart to distribute the project k8s-job-wrapper
type: application
version: $VERSION
keywords:
  - job
  - cronjob
home: https://github.com/pixiv/k8s-job-wrapper
sources:
  - https://github.com/pixiv/k8s-job-wrapper
