# golang のメジャーバージョンを変えたらここも変更してください
export GO_VERSION="1.24"
# https://kubernetes.io/ja/docs/tasks/tools/install-kubectl-linux/
export KUBECTL_VERSION="v1.32.3"
# kubectl バイパススクリプト
export KUBECTL="$(git rev-parse --show-toplevel)/hack/kubectl"

#
# E2Eテスト
#

# webhook 使っていないのでいらない
export CERT_MANAGER_INSTALL_SKIP="true"
export CONTROLLER_IMAGE_NAME="example.com/k8s-job-wrapper:v0.0.1"
# https://github.com/kubernetes-sigs/kind/releases
export KIND_IMAGE_NAME="kindest/node:v1.32.2@sha256:f226345927d7e348497136874b6d207e0b32cc52154ad8323129352923a3142f"

# CRD ドキュメントの生成先
export CRD_DOCS_DIR="tmp/crd"
export PANDOC_VERSION="3.6.4"
