name: E2E Test
permissions: {}
on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup common
        uses: ./.github/actions/common
      - name: Setup go
        uses: ./.github/actions/setup-go
        with:
          version: '${{ env.GO_VERSION }}'
      - name: Setup kind
        uses: ./.github/actions/setup-kind
        with:
          node_image: '${{ env.KIND_NODE_IMAGE }}'
      - name: Build
        run: make docker-build
      - name: E2E test
        run: make test-e2e
