name: Release
permissions: {}
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'

jobs:
  publish:
    name: Build container image and publish on push tag
    permissions:
      packages: write # for ghcr
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 20
    outputs:
      prerelease: ${{ steps.check.outputs.prerelease }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup common
        uses: ./.github/actions/common
      - name: Login to ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup buildx
        uses: ./.github/actions/setup-buildx
      - name: Check prerelease
        id: check
        run: |
          if echo "$GITHUB_REF_NAME" | grep -q -E '^v[0-9]+\.[0-9]+\.[0-9]+$' ; then
            echo "latest=true" >> "$GITHUB_OUTPUT"
            echo "prerelease=false" >> "$GITHUB_OUTPUT"
          else
            echo "latest=false" >> "$GITHUB_OUTPUT"
            echo "prerelease=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/pixiv/k8s-job-wrapper
          flavor: |
            latest=false
            prefix=
            suffix=
          tags: |
            type=schedule,pattern=nightly,enable=true,priority=1000
            type=ref,event=branch,enable=true,priority=600
            type=ref,event=tag,enable=true,priority=600
            type=ref,event=pr,prefix=pr-,enable=true,priority=600
            type=raw,value=latest,enable=${{ steps.check.outputs.latest }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/' )}}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  generate:
    name: Generate chart package
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
      - publish
    outputs:
      chart-package-file: ${{ steps.generate-chart.outputs.chart-package-file }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup common
        uses: ./.github/actions/common
      - name: Setup go
        uses: ./.github/actions/setup-go
        with:
          version: '${{ env.GO_VERSION }}'
      - name: Setup chart meta for release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          # remove 'v' for chart version
          echo "RELEASE_CHART_VERSION=${GITHUB_REF_NAME#v}" >> "$GITHUB_ENV"
          echo "RELEASE_IMAGE_NAME=ghcr.io/pixiv/k8s-job-wrapper" >> "$GITHUB_ENV"
          echo "RELEASE_IMAGE_TAG=$GITHUB_REF_NAME" >> "$GITHUB_ENV"
      - name: Setup chart meta for testing
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo "RELEASE_CHART_VERSION=0.0.0" >> "$GITHUB_ENV"
          echo "RELEASE_IMAGE_NAME=$CONTROLLER_IMAGE_NAME" >> "$GITHUB_ENV"
          echo "RELEASE_IMAGE_TAG=$CONTROLLER_IMAGE_TAG" >> "$GITHUB_ENV"
      - name: Generate chart
        id: generate-chart
        run: |
          ./hack/chart/make.sh "$RELEASE_CHART_VERSION" "$RELEASE_IMAGE_NAME" "$RELEASE_IMAGE_TAG" "$CHART_PACKAGE_DIR"
          name="k8s-job-wrapper-${RELEASE_CHART_VERSION}.tgz"
          echo "chart-package-file=${name}" >> "$GITHUB_OUTPUT"
          echo "chart-package-path=${CHART_PACKAGE_DIR}/${name}" >> "$GITHUB_OUTPUT"
      - name: Upload chart package
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: chart-package
          path: ${{ steps.generate-chart.outputs.chart-package-path }}
          retention-days: 1

  release:
    name: Release chart on push tag
    permissions:
      packages: write # for ghcr
      contents: write # for github release
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
      - publish
      - generate
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "true"
      - name: Setup common
        uses: ./.github/actions/common
      - name: Setup go
        uses: ./.github/actions/setup-go
        with:
          version: '${{ env.GO_VERSION }}'
      - name: Download chart package
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: chart-package
      - name: Setup kind
        uses: ./.github/actions/setup-kind
        with:
          node_image: '${{ env.KIND_NODE_IMAGE }}'
      - name: Install chart for testing
        env:
          CHART_PACKAGE_FILE: ${{ needs.generate.outputs.chart-package-file }}
        run: |
          ./hack/tools.sh helm install test "$CHART_PACKAGE_FILE"
      - name: Check status
        run: ./hack/tools.sh helm status test
      - name: Fetch history
        run: git fetch --prune --unshallow
      - name: Login to ghcr
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push chart
        env:
          CHART_PACKAGE_FILE: ${{ needs.generate.outputs.chart-package-file }}
        run: |
          ./hack/tools.sh helm push "$CHART_PACKAGE_FILE" "oci://ghcr.io/pixiv/k8s-job-wrapper/charts"
      - name: Create release
        run: |
          extra_args=""
          if [ "$PRERELEASE" = "true" ] ; then
            extra_args="${extra_args} --prerelease"
          fi
          gh release create "$GITHUB_REF_NAME" --verify-tag --generate-notes $extra_args "$CHART_PACKAGE_FILE"
        env:
          GH_TOKEN: ${{ github.token }}
          CHART_PACKAGE_FILE: ${{ needs.generate.outputs.chart-package-file }}
          PRERELEASE: ${{ needs.publish.outputs.prerelease }}

  pages:
    name: Deploy CRD document
    permissions:
      pages: write
      id-token: write # to verify deployment
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs:
      - release
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: Setup common
        uses: ./.github/actions/common
      - name: Setup go
        uses: ./.github/actions/setup-go
        with:
          version: '${{ env.GO_VERSION }}'
      - name: Generate CRD document
        id: generate-docs
        run: |
          ./hack/make-docs.sh "$CRD_DOCS_DIR"
          echo "docs-package-path=${CRD_DOCS_DIR}" >> "$GITHUB_OUTPUT"
      - name: Upload CRD document
        id: upload
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{ steps.generate-docs.outputs.docs-package-path }}/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
